@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap");

body {
  color: black;
  font-family: var(--font-primary);
  font-size: var(--text-md);
  line-height: 1.2;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // letter-spacing: -0.05rem;
}
html {
  // font-size: 14px;
}
@media all and (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}
@media all and (min-width: 1920px) {
  html {
    font-size: 1vw;
  }
}
em,
.italic {
  font-style: unset;
  font-family: var(--font-primary-i);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-size: var(--text-md);
  font-weight: normal;
}
.headline {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Links */
a,
a[aria-current="page"] {
  text-decoration: none;
  // &:focus,
  // &:active,
  &:hover {
    // color: var(--color-hover);
  }
  &.is-active {
    color: var(--color-blue);
  }
}

/* Text elements */
p,
.text p {
  // margin-bottom: 0;
  //line-height: 1.4;
  // hyphens: auto;
  // max-width: 454px;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  &:empty {
    display: none;
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-xl .text {
  line-height: 1.1;
}
.text {
  h2,
  h3 {
    margin-bottom: 1em;
  }
  p {
    // text-indent: 1em;
    margin-bottom: 1em;
    line-height: 1.2;
    @media all and (min-width: var(--screen-md)) {
      line-height: 1.12;
    }
  }
  // p:first-child {
  //   text-indent: 0;
  // }
}

.tabnum {
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
}

.strong,
strong {
  font-weight: bold;
}
// em {
//   // font-style: italic;
// }

button {
  background: transparent;
}

input {
  padding: 0.5em 0;
  background-color: transparent;
  border-bottom: 1px solid;
  &::placeholder {
    color: white;
    text-transform: capitalize;
  }
}

input[type="submit"] {
  background-color: white;
  color: black;
  width: 100%;
  padding: 0.5em;
}

hr {
  background-color: var(--color-primary);
  border: 0;
  height: 1px;
  margin: 1.1em calc(var(--space-sm) * -1);
}

pre {
  background: #cfcfcf;
  line-height: 1.5;
  margin-bottom: 1.5em;
  overflow: auto;
  padding: 0.75em 1.5em;
}

abbr,
acronym,
dfn {
  border-bottom: var(--border);
  cursor: help;
}
address {
  display: block;
  font-style: initial;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  // vertical-align: baseline;
  vertical-align: text-top;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}

@media all and (max-width: $sm) {
  // body,h1,h2,h3,.fM{
  // 	font-size: 20px;
  // }
  // .fS{font-size: 20px}
  // .fXS{font-size: 12px}
  // .texte p{
  // 	text-indent: 20px;
  // 	&:first-child{text-indent: 0}
  // }
  // article {
  //   // @include debugSquare(39px);
  //   h1,
  //   h2 {
  //     // margin-bottom: 30px !important;
  //   }
  // }
}

.page-content {
  .header {
    margin-bottom: var(--space-md);
  }
}
