header{
    //position: sticky;
    position: fixed; width: 100%;
    top: 0;
    z-index: 250;
    //margin-bottom: $margeM;
    padding: $margeSAlt;
    pointer-events: none;
    a{pointer-events: auto}
    .esperluette{
        display: inline-block;
    }
    svg{
        width: $logoWidth;
        height: 124px;
        height: 161px;
    }
}

.downscroll{
    header{
        .inner{
            @include slide(top, 0);
        }
    }
}


@media all and (max-width:$s){
    header{
        padding: $margeXS;
        svg{
            width: 62px;
            height: 51px;
        }
    }
}