.mailchimp {
  // background-color: red;
  .flex {
    gap: 0.4em;
  }
  .flex-2 {
    flex: 2;
  }
  .input-wrapper {
    // line-height: 1;
    transform: translateY(-0.4em);
  }
  .title,
  button {
  }
}
