.page-home {
  // padding-top: var(--header-height);
  // background-color: red;
  .about {
    letter-spacing: toRem(0.6);
    @media all and (max-width: $sm) {
      top: toRem(90);
    }
  }
  --textAboutHeight: 3 * (var(--text-lg) * 1.2);
  .feed {
    padding-top: calc(100px + var(--textAboutHeight));
    // overflow-x: hidden;
  }
  .home-card {
    position: relative;
    opacity: 0;
    transition: opacity 0.2s;
    margin-bottom: calc(200px + var(--textAboutHeight));
    @media all and (max-width: $sm) {
      margin-bottom: toRem(190);
    }
    &.can-display-images {
      opacity: 1;
    }
    .header {
      line-height: 1.2;
    }
    .industry {
      line-height: 1.2;
      // position: absolute;
      // top: 0;
      // left: 50%;
      // transform: translateY(-1.2em) translateX(-50%);
      display: flex;
      justify-content: center;
      .inner {
        min-width: var(--min-width);
        max-width: calc(100vw - calc(var(--space-md) * 2));
        max-width: 100%;
        width: var(--width);
        // transition: width 0.2s ease-out;
        // border: 1px solid;
      }
    }
    img {
      max-height: 500px;
      object-fit: cover;
    }
  }
}

@media all and (max-width: $sm) {
  main:has(.page-home) {
    padding-top: toRem(190);
    .feed {
      padding-top: 0;
    }
  }
}
