.page-project {
  .header {
    span {
      vertical-align: baseline;
    }
    h1,
    em {
      position: absolute;
      white-space: nowrap;
      &:first-child {
        right: var(--space-sm);
      }
      &:last-child {
        left: var(--space-sm);
      }
    }
  }
  .look-split {
    .text-intro {
      .inner {
        position: sticky;
        top: var(--space-100);
        height: calc(100vh - var(--space-200));

        display: grid;
        align-items: center;
        justify-content: center;
        .text {
          max-width: toRem(460);
        }
      }
    }
    .composition {
      margin-bottom: var(--space-md);
      display: block;
    }
  }
}
