.page-works {
  .header.fixed {
    top: toRem(50);
    @media all and (min-width: $md) {
      top: 0;
      padding-top: 0.8em;
    }
    span {
      vertical-align: sub;
    }
    button {
      position: absolute;
      &:first-child {
        right: var(--space-sm);
      }
      &:last-child {
        left: var(--space-sm);
      }
    }
  }
  .works-ui > .grid {
    // row-gap: 5.46rem;
    row-gap: toRem(81.9);
    @media all and (max-width: $sm) {
      row-gap: toRem(40);
    }
  }
}
