.page-works {
  .header {
    top: toRem(50);
    @media all and (min-width: $md) {
      top: 0;
    }
    span {
      vertical-align: sub;
    }
    button {
      position: absolute;
      &:first-child {
        right: var(--space-sm);
      }
      &:last-child {
        left: var(--space-sm);
      }
    }
  }
}
