html,body{
    background: $bg;
    
}
body{
    @include scrollbars(10px, $color1, transparent);
    &.loading{
        main{
            opacity: 0;
        }
    }
}

main{
    //padding: $headerHeight $margeS;
    width: calc(100% - #{$tabWidth});
    //@include anime();
    transition: opacity .2s;
    transition-timing-function: cubic-bezier(0.37, 0.01, 0, 0.98);

}

.container{
    width: calc(100vw - 135px);
}

.xs-only{display: none}
@media all and (max-width:$s){
    .xs-only{display: block}
    html,body{
        -webkit-overflow-scrolling: touch;
    }
    main{
        padding-top: 80px;
        width: calc(100vw - #{$tabWidthMobile});
    }
    
}

@media all and (min-width:$cap){
    .container{
        width: calc(100vw - 210px);
    }
}
