svg{
    //.cls-1{all: unset;}
    line,
    path{
        
        fill: none!important;
        stroke: #40009b!important;
        stroke-miterlimit: unset!important;
        stroke-width: $borderWidth!important;
    }
}