@font-face {
	font-family: "LoveWebRegular";
	src: 
		url("./fonts/LoveWeb-Regular.woff") format("woff"),
		url("./fonts/LoveWeb-Regular.woff2") format("woff2");
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	//unicode-range: unquote("U+0, U+D, U+20-7E, U+A0-A9,U+AB-B1, U+B4, U+B6-B8, U+BB-107,U+10A-12B, U+12E-131, U+134-137, U+139-13E,U+141-148, U+14A-14D, U+150-15B, U+15E-17E,U+1FC-1FD, U+218-21B, U+2C6-2C7, U+2D8-2DD,U+300-304, U+306-308, U+30A-30C, U+312,U+326-328, U+335-338, U+394, U+3A0,U+3A9, U+3B4, U+3C0, U+3C9,U+1E80-1E85, U+1EF2-1EF3, U+2007-2008, U+200B,U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022,U+2026, U+2030, U+2039-203A, U+2044,U+20AC, U+2122, U+2202, U+2205,U+220F, U+2211-2212, U+221A, U+221E,U+222B, U+2248, U+2260, U+2264-2265,U+25AF, U+25CA, U+FEFF");
}

@font-face {
	font-family: "WelcomeWebRegular";
	src: 
		url("./fonts/Welcomeweb-Regular.woff") format("woff"),
		url("./fonts/Welcomeweb-Regular.woff2") format("woff2");
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	//unicode-range: unquote("U+0, U+D, U+20-7E, U+A0-A9,U+AB-B1, U+B4, U+B6-B8, U+BB-107,U+10A-12B, U+12E-131, U+134-137, U+139-13E,U+141-148, U+14A-14D, U+150-15B, U+15E-17E,U+1FC-1FD, U+218-21B, U+2C6-2C7, U+2D8-2DD,U+300-304, U+306-308, U+30A-30C, U+312,U+326-328, U+335-338, U+394, U+3A0,U+3A9, U+3B4, U+3C0, U+3C9,U+1E80-1E85, U+1EF2-1EF3, U+2007-2008, U+200B,U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022,U+2026, U+2030, U+2039-203A, U+2044,U+20AC, U+2122, U+2202, U+2205,U+220F, U+2211-2212, U+221A, U+221E,U+222B, U+2248, U+2260, U+2264-2265,U+25AF, U+25CA, U+FEFF");
}

  
body {
	color: $color1;
	font-family: $fontPrimary;
	font-size: $fontM;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px !important;
  	text-shadow: rgba(0,0,0,.01) 0 0 1px !important;
	//line-height: $fontSLh; 
}
.serif{font-family: $fontSecondary; text-transform: lowercase}
.fXS{
	font-size: $fontXS;
	//letter-spacing: 0.8px;
}
.fS{
	font-size: $fontS;
	//line-height: $fontSLh; 
}
.fM{
	font-size: $fontM;
	//line-height: $fontMLh; 
}
.fXL{
	font-size: $fontXL;
	//line-height: $fontMLh; 
}

/* Headings */
h1,h2,h3,h4,h5,h6,
.headline {
	font-size: $fontM;
	font-weight: normal;
	// clear: both;
	// font-weight: normal;
	// //@include text-crop;
	// font-size: $headline;
	// line-height: $headlineLh;
}

// .small{
// 	font-size: $fontXs;
// 	line-height: $fontXsLh;
// }

h1,h2,h3,h4,h5,h6{font-weight: normal;}

.button{
	display: inline-block;
	padding: 2px $margeXS;
	//border: $border;
	color: black;
	position: relative;
	&:before, 
	&:after{
		content:'';
		width: 100%;
		height:100%;
		z-index: 3;
		position: absolute;
		top:0;
		left:0;
		@include anime(.4s, 0s);
		//border-left: 0;
		//-webkit-transform-origin: 0% 100%;
	}
	&:before{
		border: $border;
		border-bottom: none;
	}
	&:after{
		border-bottom: $border;
		border-top: 0;
		border-right: 0;
		//-webkit-transform-origin: 50% 50%;
	}
	&.active::before,
	&:hover::before{
		//transform: scale(2);
		height: 0;
		opacity: 0;
	}
}
button{background: transparent}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	//@include text-crop;
	margin-bottom: 1em;
	//line-height: 1.4;
	hyphens: auto;
	&:last-child{margin-bottom: 0}
	&:empty{display: none}
}
.texte{
	p{text-indent: $margeM; margin-bottom: 0}
	p:first-child{text-indent: 0}
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

blockquote {
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
cite {
	color: #666;
	letter-spacing: 0.05em;
	padding-left: 60px;
}
pre {
	background: #f4f4f4;
	line-height: 1.5;
	margin-bottom: 1.5em;
	overflow: auto;
	padding: 0.75em 1.5em;
}
code, kbd {
	font-family: "Andale Mono", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: $border;
	cursor: help;
}
address {
	display: block;
	font-style: initial;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}



/* Links */
//a{text-decoration: none;}
a,.btn {
	color: $color1;
	text-decoration: none;
	cursor: none;
	&:focus,
	&:active,
	&:hover {
		//color: $hover;
	}
	//&.btn:hover{color: #fff}
}
p{
	a{color: $color1}
}


@media all and (max-width:$s){
	body{font-size: 12px}
	.fXS{font-size: 10px}
	.fM{font-size: 20px}
	.fXL{font-size: 65px}
	.about .fXL{font-size: 65px}
}

@media all and (min-width:$cap){
	body{font-size: 19px}
	//.fXS{font-size: 17px}
	.fXS{font-size: 13px}
	.fM{font-size: 25px}
	.fXL{font-size: 208px}
	.about .fXL{font-size: $fontXL}
}