/* BASE VARIABLES
 *******************/


/* Sizes */
$max-width: 1800px;
$headerHeight: 158px;
$headerHeight: 194px;
$headerHeightMobile: 46px;

$logoWidth: 194px;
$logoWidthMobile: 62px;

$tabWidth: 150px;
$tabWidthMobile: 65px;

$imageM: 1000px;
$imageL: 1550px;

/* Colors */
$color1: #40009B;
$bg: #F8E0D9;

/* PADDINGS */
$gutter: 7.5px;
$margeXS: $gutter;
$margeS: $margeXS * 2;

$margeM: $margeXS * 4;
$margeL: $margeXS * 8;
$margeXL: $margeL * 2;

$margeSAlt: 30px;
$margeMAlt: 60px;

/* Fonts */
$fontPrimary: 'WelcomeWebRegular', sans-serif;
$fontSecondary: 'LoveWebRegular', serif;

$fontXS: 12px;

$fontS: 14px;
$fontSLh: 1em;

$fontM: 15px;
$fontMLh: 1em;

//$fontXL: 129px;
$fontXL: 143px;

$borderWidth: 2px;
$border: $borderWidth solid;

/* Breakpoints */
$cap: 2100px;
$lg: 1650px;
$l: 1280px;
$m: 1024px;
$s: 768px;
$xs: 500px;