.about{
    // $tabWidth: 10vw;
    // $tabWidth: 130px;
    $accordionMinus: $logoWidth + $margeM + $margeS + $tabWidth;
    //$accordionMinus: $logoWidth + $tabWidth;
// @debug $logoWidth;
// //@debug $margeM;
// @debug $tabWidth;
// @debug $accordionMinus;
    $transition: .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    &.active{
        pointer-events: auto;
        .panel{
            opacity: 1;
            pointer-events: auto;
            .panel-header{@include slide(none, 1);}
        }
        
        .about-toggle{
            &:first-of-type{
                //@include slide(right, 0);
                transform: translateX(20vw);
                opacity: 0;     
            }
            &.panel-btn-alt{
                //@include slide(none, 1);
                transform: translateX(0);
                opacity: 1;     
            }
        }
        #about{
            @include slide(none, 1);
            pointer-events: auto;
            //display: block;

            .header--{
                div:first-child{
                    //@include slide(none, 1);
                    transform: translateX(0) rotate(180deg);
                    opacity: 1;
                }
                div:last-child{@include slide(none, 1);}
            }
        }
        .foundry{
            //right: $tabWidth * 2;
        }
    }
    &.is-nav{
        #about{
            @include slide(left, 0);
            .header--{
                div{
                    &:first-child{
                        transform: translateX(-100%) rotate(180deg);
                        opacity: 1;
                    }
                    &:last-child{@include slide(top, 0);}
                }
            }
            //.inner{opacity: 0;}
        }
    }
    
    
    .panel-btn{
        overflow: hidden;
        width: $tabWidth;
        //min-width: $tabWidth;
        height: calc(100vh - #{$margeMAlt});
        border-left: $borderWidth solid;
        background: $bg;
        div.title{
            writing-mode: vertical-lr;
            transform: translateX(-1px) rotate(180deg);
            //@include text-crop
        }
    }
    
    #accordion{
        position: absolute; top: 0; left: 0;
        margin-left: $logoWidth + $margeM + $margeS;
        margin-right: $tabWidth;
        padding-top: $margeSAlt;
        padding-bottom: $margeSAlt;
        width: calc(100vw - #{$accordionMinus}); 
        height: 100vh;
// background: red;
       .inner{
           width: 100%;
           
        }
    }

    .panel{
        opacity: 0;
        
        position: absolute;
        top: 0;
        width: $tabWidth;
        height: calc(100vh - #{$margeM});
        z-index: 250;
        @include anime($transition, 0s);

        &.active{
            width: auto;
            z-index: 2;
            pointer-events: auto;
  
            .panel-content{   
                pointer-events: auto;
                z-index: 2;   
                width: calc( 100vw - (#{$accordionMinus} + (#{$tabWidth} * 2 ) ) ); 
                @include slide(none, 1);
                .inner{opacity: 1; }
            }
        }
    }
    .panel-header{
        z-index: 250;
        //cursor: pointer;
        @include anime($transition, 0s);
        //@include slide(right, 0);
        transform: translateX(20vw);
        opacity: 0;   
    }

    .panel-content{
        position: absolute;
        top: 0; left: $tabWidth;
        //width: 0; 
        height: calc(100vh - (#{$margeM} * 2));
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        
        // margin-bottom: $margeS;
        @include anime( ($transition*2), 0s);
        .about-page{
            height: 100%;
            padding-left: $tabWidth/2;
            padding-right: $margeS;
            &.page-fonts{
                .inner{
                    top: 50%;
                    transform: translateY(-50%);
                }
                .row{height: 100%;}
                .image{
                    text-align: right;
                    margin-bottom: 100px;
                }
                .images{width: 100%}
            }
            
            &.page-studio{
                .inner{
                    top: unset;
                    transform: translateY(0);
                    .texte{
                        .row{
                            .col-md-6 div{padding-right: 1em}
                        }
                    }
                    .row.middle-xs{
                        //background: red;
                        &>.col-md-6{
                            flex-basis: $s!important;
                            max-width: $s!important;
                        }
                        .texte{
                            .col-md-6{
                                // flex-basis: 100%!important;
                                // max-width: 100%!important;
                            }
                        }
                    }
                }
                .circle{
                    border: $border;
                    border-radius: 100%;
                    width: 40vw; height: 40vw;
                    max-width: 668px;
                    max-height: 668px;
                    float: right;
       
                }
            }
            
        }
        .inner{
            opacity: 0;
            @include anime(($transition/2), 0s);
     
        }
    }

    .about-landing,
    .panel-content{
        .inner{
            top: 50%;
            transform: translateY(-50%);
            .texte,
            .image
            .images{
                @include flex-shrink(0)
            }
            .texte{
                margin-bottom: $margeS;
                p{text-indent: 0; margin-bottom: 1em}
                table{
                    width: 100%;
                    th{
                        text-align: left;
                        font-weight: normal
                    }
                    td{
                        p{
                            white-space: initial;
                        }
                    }
                }
            }
            .image{
                width: 100%;
                svg,
                img{max-width: 240px;}
            }
            .images{
                text-align: right;
                img{
                    height: calc(100vh - (#{$margeM} * 2))
                }
            }
        }
    }

    .about-toggle{
        //@include anime($transition, 0s);
        transition: transform $transition ease-out;
        transition-timing-function: cubic-bezier(.37, .01, 0, .98);
        
        position: fixed;right: 0; top: $margeSAlt;
        z-index: 251;
        background: $bg;
        cursor: pointer;
        pointer-events: auto;
        @include slide(none, 1);
     
        &.panel-btn-alt{
            //@include slide(right, 0);
            transform: translateX(20vw);
            opacity: 0;     
        }
    }
    .about-landing{
        left: 0;
        $width: $tabWidth * 3;
        width: calc(100vw - #{$width});
        height: 100vh;
        pointer-events: none;
        @include anime(($transition/2), 0s);
        @include slide(left, 0);
        
        .header--{
            div{
                position: absolute;
                @include anime($transition, .3s);
                line-height: 1;
                // @include text-crop;
                &:first-child{
                    writing-mode: vertical-lr;
                    top: $headerHeight + $margeS;
                    //@include slide(left, 0);
                    transform: translateX(-100%) rotate(180deg);
                    opacity: 0; left: $margeS;
                }
                &:last-child{
                    top: $margeS;
                    left: $logoWidth + $margeM;
                    @include slide(top, 0);
                }
            }
        }
        .inner{
            padding-left: $tabWidth * 2;
            padding-right: $margeS;
            //height: 100vh;
            @include anime();
            //padding-top: 20vh;
            //.image{right: $margeM}
            top: 50%;
            transform: translateY(-50%);
            .texte{
                max-width: 320px;
                transform: translateY(-$margeM);
            }
            .image{
                svg{
                    line.cls-1{stroke-width: $borderWidth + 1px !important;}
                }
            }
        }
    }

    .foundry{
        position: absolute;
        bottom: 0; right: $margeS;
        //animation: rotating 10s linear infinite;
        svg{
            width: $tabWidth/2; height: $tabWidth/2 + 1px;
            vertical-align: bottom;
            circle{fill: $bg;}
            path{fill: $color1;}
        }
    }
    
    p{
        white-space: pre-line;
        max-width: 500px;
    }
}

.is-about{
    .template-home,
    .template-project{
        main{opacity: 0; pointer-events: none}
    }
}
.firefox{
    .about{
        .panel-btn{
            .title{
                transform: translateX(-10px) rotate(180deg)
            }
        }
    }
}

@media all and (max-width:$s){
    .about{
        //$tabWidth: $tabWidthMobile;
        overflow: hidden;
        overflow-y: auto;
        .panel-btn{
            width: $tabWidthMobile;
            height: calc(100vh - #{$margeS});
            top: $margeXS;
        }
        
        .about-landing,
        #accordion{
            @include slide(right, 0)
        }
        &.active{
            .about-landing,
            #accordion{@include slide(none, 1)}
        }

        .foundry{
            bottom: $margeS;
            width: $tabWidthMobile/1.7; height: $tabWidthMobile/1.7 + 1px;
            svg{
                width: 100%; height: 100%;
            }
        }
        .about-landing{
            position: initial;
            //transform: none;
            width: 100%; //height: auto;
            height: auto;
            padding-right: $tabWidthMobile;
            .header--{
                div:first-child{top: $headerHeightMobile + $margeM}
                div:last-child{left: $logoWidthMobile + $margeS}
            }
            .inner{
                height: auto;
                //min-height: 80vh;
                top: 0;
                transform: none;
                //padding-left: $margeL + $margeM;
                padding-top: $margeL + $margeM;
                padding-right: $margeS;
                padding-bottom: $margeM;
                padding-left: $margeL + $margeS * 2;
                .image{
                    margin-bottom: $margeM;
                    svg{
                        width: 100%;
                        path,
                        line{
                            stroke-width: $borderWidth*3!important;
                        }
                    }
                }
                .texte{transform: none; word-break: break-all}
            }
        }

        #accordion{
            width: 100%;
            margin: 0;
            padding-left: 0;
            padding-right: $tabWidthMobile;
            position: initial;
        }
        
        .panel{
            position: initial;
            width: auto; height: auto;
            .panel-header,
            .panel-content{
                position: initial;
                width: auto;
            }
            .panel-header.panel-btn{
                border-left: none;
                border-bottom: $border;
                height: auto;
                padding-right: $margeS + 4;
                .title{
                    writing-mode: initial;
                    transform: none;
                    text-align: right;
                }
                
            }
            .panel-header{
                overflow: initial;
                .foundry{
                    right: 0; left: $margeL + $margeS;
                    bottom: -98px;
                }
            }
            .panel-content{
                opacity: 1;
                height: auto;
                transform: none;
                pointer-events: auto;
                .about-page{padding: 0}
                
                .inner{
                    padding-top: $margeM;
                    padding-right: $margeS;
                    padding-bottom: $margeM;
                    padding-left: $margeL + $margeS * 2;
                    opacity: 1;
                    top: 0!important; 
                    transform: none!important;
                    .texte{
                        word-break: break-all
                    }
                    .image{
                        max-width: 91px;
                        margin-bottom: $margeM;
                        transform: translateX(-50%);
                    }
                    .images{
                        img{
                            height: auto;
                        }
                    }
                    svg{
                        path,
                        line{
                            stroke-width: $borderWidth*3!important;
                        }
                    }
                }
                .page-fonts{
                    .inner{
                        .texte{margin-bottom: $margeM;}
                        .image{
                            max-width: none;
                            transform: none;
                            display: flex;
                            justify-content: flex-end;
                            svg{flex-basis: 91px}
                        }
                    }
                }
                .page-studio{
                    .inner{
                        padding-top: 0;
                        //padding-right: 0;
                        .texte{
                            p{
                                word-wrap: break-word;
                                hyphens: auto;
                            }
                        }
                        .row.middle-xs{
                            //background: red;
                            &>.col-md-6{
                                flex-basis: 100%!important;
                                max-width: 100%!important;
                            }
                            .texte{
                                .col-md-6{
                                    margin-bottom: $margeS
                                    // flex-basis: 100%!important;
                                    // max-width: 100%!important;
                                }
                            }
                        }
                    }
                    .circle{
                        width: 50vw;
                        height: 50vw;
                        //float: none;
                        transform: translateX($margeS);
                        margin-bottom: $margeM;
                    }
                }
            }
        }
    }
}
@media all and (max-width:$l){
    .about{
        .panel-content{
            .texte{max-width: 320px}
        }
    }
}

@media all and (min-width:$cap){
    .about{
        .panel-content{
            // .inner{
            //     @include justify-content(space-between);
            //     @include align-items(center);
            //     min-height: calc(100vh - #{$margeM});
            //     .texte{max-width: 320px}
            //     .images{
                    
            //     }
            // }
        }
    }
}


