.template-home{
    overflow: hidden;
    .home{
        
    }
    .projects-coverflow{
        // cursor: move;
        // cursor: -webkit-grab;
        // &:active{cursor: -webkit-grabbing;}

        
        //overflow: hidden;
        // overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        &.p-e-n{
            .card{pointer-events: none}
        }
        .inner{
            overflow: hidden;
            padding: 0 calc(156px + #{$margeM});
            padding-right: 0;
            //margin-right: $tabWidth;
            @include flexbox();
            @include align-items(center);
            //@include flex-wrap(nowrap);
            .card:first-child .infos::before{
                content: "";
                position: absolute; left: -100%; top: 0;
                height: $borderWidth;
                width: 100%;
                background: $color1;
            }
            .card:last-child{
                //margin-right: 50vw;
                .infos::after{
                    content: "";
                    position: absolute; 
                    top: 0;
                    left: 100%;
                    height: $borderWidth;
                    width: 100%;
                    background: $color1;
                }
            }
        }
        
        
    }

}

.firefox{
    .template-home{
        .projects-coverflow{
            &:before{
                bottom: 113px;
            }
        }
    }
}

@media all and (max-width:$s){
    .template-home{
        overflow-y: auto;
        .projects-coverflow{
            
            overflow: unset;
            &::before{display: none}
            .inner{
                margin: 0;
                width: 100%!important;
                display: block;
                padding: 0
            }
        }
    }
}

@media all and (min-width:$cap){
    .template-home{
        .projects-coverflow{
            &:before{
                bottom: 138px;
            }
        }
    }
    .firefox{
        .template-home{
            .projects-coverflow{
                &:before{
                    bottom: 138px;
                }
            }
        }
    }
}