.card {
  margin-bottom: 5.46rem;
  @media all and (max-width: $sm) {
    margin-bottom: toRem(40);
  }
  &:hover {
    .header {
      opacity: 0;
      transform: translateY(-1em);
    }
    .overlay {
      opacity: 1;
      .bg-blurred {
        opacity: 1;
        transform: scale(15);
      }
    }
  }
  .overlay {
    // transition: opacity 0.6s;
    opacity: 0;
    overflow: hidden;
    .bg-blurred {
      position: absolute;
      width: 10em;
      height: 15em;
      border-radius: 100%;
      filter: blur(2em);
      // transition: opacity 0.6s, transform 0.4s var(--cubic);
    }
  }
  .header {
    transition: opacity 0.6s, transform 0.6s;
  }
  figure {
    overflow: hidden;
    // aspect-ratio: 0.77868852 / 1;
    margin-bottom: 1rem;
    @media all and (max-width: $sm) {
      margin-bottom: var(--space-sm);
    }
    img {
      // height: 100% !important;
      width: 100%;
      height: auto;
      // object-fit: cover;
      // object-position: center center;
    }
  }
}
