header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: toRem(6) toRem(18);
  z-index: 50;
  .site-name,
  .nav-studio li:first-child {
    margin-right: 4.66666667rem;
  }
  .nav-works {
    &:hover {
      .label {
        display: none;
      }
      ul {
        display: flex;
      }
    }
    ul {
      display: none;
    }
  }
  @media all and (max-width: $md) {
  }
}
