header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: toRem(6) var(--space-md);
  z-index: 50;

  .col-item {
    width: var(--space-100);
  }

  .site-name {
    z-index: 21;
  }
  nav.nav-studio {
    li.col-item:last-child {
      text-align: right;
    }
    a[target="_blank"] {
      &:hover .absolute {
        transform: translate(0.4em, -0.3em);
      }
      .absolute {
        transform: translateX(0.2em);
        transition: transform 0.2s;
      }
    }
  }
  .nav-works {
    li {
      display: flex;
      align-items: center;
      &:first-child::after {
        content: ".";
        display: inline-block;
        padding: 0 var(--space-sm);
        transform: translateY(-0.2em);
      }
    }
    @media all and (min-width: $md) {
      &:hover {
        .label {
          display: none;
        }
        ul {
          display: flex;
        }
      }
      ul {
        display: none;
      }
    }
  }

  @media all and (max-width: $md) {
    padding: toRem(7) toRem(10);
    .header--sm {
      transition: transform 0.4s cubic-bezier(0.53, 0, 0.36, 1),
        opacity 0.4s cubic-bezier(0.53, 0, 0.36, 1);
      &.scroll-down {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
    .btn-menu-toggle {
      font-size: toRem(22);
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        line-height: 1;
      }
      .burger {
        @include burger(15px, 1px, 4px);
      }
      &.is-open .burger {
        @include burger-to-cross();
      }
    }
    .nav-overlay {
      background-color: white;
      position: fixed;
      padding-top: var(--space-100);
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.6s var(--cubic), transform 0.6s var(--cubic);
      &.is-open {
        opacity: 1;
        transform: translateY(0);
      }

      & > .inner {
        // height: 100%;
        // place-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .col-item:empty {
          display: none;
        }
        .nav-works {
          text-align: center;
          margin-bottom: toRem(72);
          .label {
            margin-bottom: toRem(23);
          }
          ul {
            display: flex;
            position: initial;
            li {
              padding-left: var(--space-sm);
              padding-left: 0;
              &::after {
                margin: 0 1em;
              }
            }
          }
        }
        .nav-studio {
          transform: translateX(calc(toRem(5) * -1));
        }
      }
    }
  }
}

@media all and (min-width: $md) {
  #page:has(.single-design) {
    header {
      .nav-works {
        // background-color: red;
        ul {
          position: initial;
          display: flex;
          padding-left: var(--space-sm);
          li:not(.nav-design) {
            display: none;
          }
        }
        &:hover ul {
          padding-left: 0;
          li {
            display: block;
          }
        }
      }
    }
  }
  #page:has(.single-space) {
    header {
      .nav-works {
        // background-color: red;
        ul {
          position: initial;
          display: flex;
          padding-left: var(--space-sm);
          li:not(.nav-space) {
            display: none;
          }
        }
        &:hover ul {
          padding-left: 0;
          li {
            display: block;
          }
        }
      }
    }
  }

  #page:has(.page-works) {
    header {
      .nav-works {
        ul {
          position: initial;
          display: flex;
          padding-left: var(--space-sm);
          li:not(:has(.is-current-page)) {
            display: none;
          }
          li:after {
            display: none;
          }
        }
        &:hover ul {
          padding-left: 0;
          li {
            display: block;
            &::after {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
