#infos {
  .infos-overlay {
    text-align: left;
    position: fixed;
    inset: 0;
    background-color: var(--color-yellow);
    padding: 0;
    z-index: 20;

    // opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s var(--cubic), transform 0.6s var(--cubic);
    max-height: 100vh;
    overflow-y: auto;
    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }
    .scrollable {
      padding: 100px var(--space-md);
    }
    @media all and (max-width: $md) {
      .grid-item:has(p) {
        margin-bottom: 1em;
      }
      .inner.scrollable {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 100px toRem(10);
      }

      .grid {
        margin-bottom: toRem(35);
      }
    }
  }
  .btn-toggle {
    line-height: 1.2;
    z-index: 21;
  }
  .links {
    margin-bottom: 1.5rem;
  }
  h5 {
    margin-bottom: toRem(10);
  }
  .sans p {
    font-family: var(--font-primary);
  }
  .content .md\:flex {
    @media all and (min-width: $md) {
      // .footer-item:nth-child(1) {
      //   width: calc((290 + 368) * 100% / 1404);
      // }
      // .footer-item:nth-child(2) {
      //   width: calc(368 * 100% / 1404);
      // }

      .grid-item:first-child {
        // width: calc(20.6552706553% + 26.2108262108%);
        width: calc((290 + 368) * 100% / 1404);
      }
      .grid-item:last-child {
        flex: 2;
      }
    }
  }
}
