// .work-content article.look-default .modules {
article.look-default .modules {
  section.composition {
    scroll-snap-align: start;
    // border: 1px solid red;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    max-width: calc(100vw - (var(--space-md) * 2));
    max-height: calc(100vh - (var(--header-height) * 2));

    &:has(.module--image) {
      margin-bottom: var(--space-100);
    }
    .is-full {
      img {
        margin: 0 auto;
        height: 100%;
        object-fit: contain;
      }
    }
    &:has(.is-third) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: unset;
      align-items: center;
      height: calc(100vh - (var(--header-height) * 2));
    }
    &:has(.is-third),
    &.is-half-half {
      height: auto;
      max-height: unset;
      min-height: calc(100vh - (var(--header-height) * 2));
      .module--image img {
        // height: auto !important;
        // object-fit: contain;
        width: 100%;
        height: auto;
      }
      @media all and (min-width: 1080px) {
        .text {
          margin: auto;
        }
      }
    }

    &:has(.is-quarter):has(.is-half) {
      // background-color: red;
      .is-half img {
        width: 100%;
      }
    }

    .module {
      height: 100%;
    }
    .composition--item:not(.is-full) {
      img {
        height: 100% !important;
        object-fit: cover;
      }
    }

    .text {
      max-width: 29em;
      .icon {
        max-width: 4em;
      }
    }

    @media all and (max-width: 1080px) {
      &,
      &:has(.module--image) {
        margin-bottom: 2.5rem;
      }
      // background-color: orange;
      max-width: unset !important;
      min-height: unset !important;
      max-height: unset !important;
      &:not(.is-half-half) {
        display: flex;
        flex-direction: column;
        .module,
        img {
          height: auto !important;
        }
        // grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      &.is-half-half:has(.module--text) {
        display: flex;
        flex-direction: column;

        .composition--item:has(.module--text) {
          order: 2;
          padding-top: 1em;
        }
      }
      .text {
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}
