/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
} */

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/app/styles/tailwind.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.z-0 {
  z-index: 0;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-none {
  cursor: none;
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.justify-between {
  justify-content: space-between;
}
.gap-md {
  gap: var(--space-md);
}
.overflow-hidden {
  overflow: hidden;
}
.p-md {
  padding: var(--space-md);
}
.text-lg {
  font-size: var(--text-lg);
  line-height: 1;
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@media (prefers-color-scheme: dark) {

  .dark\:invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}
@media (min-width: 1080px) {

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[13].use[5]!./src/app/styles/index.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* DEFAULT & RESET CSS*/
/* Table of Contents
==================================================
  1 Generic Styles
  2 Resets
    A Global
    B Media
    C Forms
  3 Typography



/* 1 GENERIC STYLES
================================================== */
/*Mash up based on
  (A) the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap
  (B) http://csswizardry.com/web-design+/#css
  (C) WordPress image styles */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  transform-style: flat;
  -webkit-user-drag: none;
  outline: 0;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

div {
  position: relative;
}

.clear {
  clear: both;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img.alignleft {
  margin-right: 1em;
  margin-bottom: 1.8em;
}
img.alignright {
  margin-left: 1em;
  margin-bottom: 1.8em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.half {
  width: 45%;
  /* Not exactly half to account for paddings, margins etc. */
}

ul.unstyled {
  list-style-type: none;
}

.hide {
  /* Hide stuff without resorting to display:none; */
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* 2 RESETS
================================================== */
/* 2A GLOBAL RESET
Based on 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td,
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  /* Read more > http://bit.ly/qh1V0T */
  vertical-align: top;
}

q:before, q:after {
  content: "";
}

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* The below restores some sensible defaults */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a img {
  border: none;
}

/* Gets rid of IE's blue borders */
/* 2B MEDIA
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

/* 2C FORMS
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

*:focus {
  outline: none;
}

/* 3 TYPOGRAPHY
================================================== */
.alert {
  background: red;
  color: white;
}

/* 'alert' has a basic style, since it's useful to have it standing out for testing purposes. */
/* SRCSET */
img[data-sizes=auto] {
  display: block;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: blue;
}

::selection {
  color: blue;
}

iframe {
  vertical-align: top;
}

/* BASE VARIABLES
 *******************/
:root {
  --app-height: 100vh;
  --header-height: 43.5px;
  --color-bg: #fff;
  --color-primary: #000;
  --color-hover: #333;
  --color-muted: #666;
  --font-primary: "Cormorant Garamond", serif;
  --space-sm: 0.5em;
  --space-md: 1rem;
  --space-lg: 2rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  /*
  xs: 8pt 10px
  md: 12pt 16px
  lg: 18pt 24px
  xl: 30pt 40px
  */
  --cubic: cubic-bezier(0.775, 0, 0.17, 1.005);
  --border-width: 1px;
  --border: var(--border-width) solid;
  --border-width-lg: 2px;
  --border-lg: var(--border-width-lg) solid;
  --gutter: 5px;
  --screen-sm: 768px;
  --screen-md: 1080px;
  --screen-lg: 1441px;
}

/* Breakpoints */
/*
.wrapper {
  box-sizing: border-box;
  max-width: $flexboxgrid-max-width;
  margin: 0 auto;
}*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: calc(var(--gutter) * 2);
  padding-left: calc(var(--gutter) * 2);
}

.row {
  box-sizing: border-box;
  display: -moz-flex;
  display: flex;
  -moz-flex: 0 1 auto;
  flex: 0 1 auto;
  -moz-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--gutter));
  margin-left: calc(-1 * var(--gutter));
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^=col-], .row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.row.custom-gutter {
  margin-right: calc(var(--custom-gutter) * -0.5);
  margin-left: calc(var(--custom-gutter) * -0.5);
}
.row.custom-gutter > [class^=col-], .row.custom-gutter > [class*=" col-"] {
  padding-right: calc(var(--custom-gutter) * 0.5);
  padding-left: calc(var(--custom-gutter) * 0.5);
}
.row.custom-gutter .col-auto {
  flex-shrink: 0;
}

.row.reverse {
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-1 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 1);
  max-width: calc(100% / 12 * 1);
}

.col-2 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
}

.col-3 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
}

.col-4 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
}

.col-5 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
}

.col-6 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6);
}

.col-7 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
}

.col-8 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col-9 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9);
}

.col-10 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

.col-11 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11);
}

.col-12 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 12 * 12);
  max-width: calc(100% / 12 * 12);
}

.col-xs {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: auto;
}

.col-xs-1 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 1);
  max-width: calc(100% / 12 * 1);
}

.col-xs-2 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
}

.col-xs-3 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
}

.col-xs-4 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
}

.col-xs-5 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
}

.col-xs-6 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6);
}

.col-xs-7 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
}

.col-xs-8 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col-xs-9 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9);
}

.col-xs-10 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

.col-xs-11 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11);
}

.col-xs-12 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  flex-basis: calc(100% / 12 * 12);
  max-width: calc(100% / 12 * 12);
}

.col-xs-offset-1 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 1);
}

.col-xs-offset-2 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 2);
}

.col-xs-offset-3 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 3);
}

.col-xs-offset-4 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 4);
}

.col-xs-offset-5 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 5);
}

.col-xs-offset-6 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 6);
}

.col-xs-offset-7 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 7);
}

.col-xs-offset-8 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 8);
}

.col-xs-offset-9 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 9);
}

.col-xs-offset-10 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 10);
}

.col-xs-offset-11 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 11);
}

.col-xs-offset-12 {
  box-sizing: border-box;
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-left: calc(100% / 12 * 12);
}

.col-xs {
  -moz-flex-grow: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.start-xs {
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.middle-xs {
  -moz-align-items: center;
  align-items: center;
}

.bottom-xs {
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.around-xs {
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.between-xs {
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: auto;
  }
  .col-sm-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
  }
  .col-sm-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }
  .col-sm-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }
  .col-sm-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }
  .col-sm-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }
  .col-sm-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
  }
  .col-sm-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }
  .col-sm-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }
  .col-sm-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }
  .col-sm-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }
  .col-sm-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }
  .col-sm-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
  }
  .col-sm-offset-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 1);
  }
  .col-sm-offset-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 2);
  }
  .col-sm-offset-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 3);
  }
  .col-sm-offset-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 4);
  }
  .col-sm-offset-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 5);
  }
  .col-sm-offset-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 6);
  }
  .col-sm-offset-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 7);
  }
  .col-sm-offset-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 8);
  }
  .col-sm-offset-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 9);
  }
  .col-sm-offset-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 10);
  }
  .col-sm-offset-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 11);
  }
  .col-sm-offset-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 12);
  }
  .col-sm {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-sm {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-sm {
    -moz-align-items: center;
    align-items: center;
  }
  .bottom-sm {
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
  .around-sm {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .between-sm {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .first-sm {
    order: -1;
  }
  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 1080px) {
  .col-md {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: auto;
  }
  .col-md-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
  }
  .col-md-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }
  .col-md-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }
  .col-md-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }
  .col-md-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }
  .col-md-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
  }
  .col-md-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }
  .col-md-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }
  .col-md-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }
  .col-md-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }
  .col-md-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }
  .col-md-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
  }
  .col-md-offset-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 1);
  }
  .col-md-offset-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 2);
  }
  .col-md-offset-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 3);
  }
  .col-md-offset-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 4);
  }
  .col-md-offset-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 5);
  }
  .col-md-offset-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 6);
  }
  .col-md-offset-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 7);
  }
  .col-md-offset-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 8);
  }
  .col-md-offset-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 9);
  }
  .col-md-offset-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 10);
  }
  .col-md-offset-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 11);
  }
  .col-md-offset-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 12);
  }
  .col-md {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-md {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-md {
    -moz-align-items: center;
    align-items: center;
  }
  .bottom-md {
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
  .around-md {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .between-md {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .first-md {
    order: -1;
  }
  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1441px) {
  .col-lg {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: auto;
  }
  .col-lg-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
  }
  .col-lg-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
  }
  .col-lg-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
  }
  .col-lg-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
  }
  .col-lg-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }
  .col-lg-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
  }
  .col-lg-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }
  .col-lg-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
  }
  .col-lg-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
  }
  .col-lg-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }
  .col-lg-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }
  .col-lg-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
  }
  .col-lg-offset-1 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 1);
  }
  .col-lg-offset-2 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 2);
  }
  .col-lg-offset-3 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 3);
  }
  .col-lg-offset-4 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 4);
  }
  .col-lg-offset-5 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 5);
  }
  .col-lg-offset-6 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 6);
  }
  .col-lg-offset-7 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 7);
  }
  .col-lg-offset-8 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 8);
  }
  .col-lg-offset-9 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 9);
  }
  .col-lg-offset-10 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 10);
  }
  .col-lg-offset-11 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 11);
  }
  .col-lg-offset-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-left: calc(100% / 12 * 12);
  }
  .col-lg {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-lg {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-lg {
    -moz-align-items: center;
    align-items: center;
  }
  .bottom-lg {
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
  .around-lg {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .between-lg {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .first-lg {
    order: -1;
  }
  .last-lg {
    order: 1;
  }
}
/************************************************************************
 Borrowed from Bourbon: http://bourbon.io/docs/#html5-input-types

 Generate a variable ($all-text-inputs) with a list of all html5 input types that have a text-based input, excluding textarea.
 http://diveintohtml5.org/forms.html
************************************************************************/
/* Bare inputs */
/* Hover Pseudo-class */
/* Focus Pseudo-class */
/***********************************************************
  ANIMATIONS
 ***********************************************************/
img {
  max-width: 100%;
}

.center-x-y {
  display: grid;
  place-items: center;
}

ul.list-with-comma li {
  display: flex;
}
ul.list-with-comma li:not(:last-child):after {
  content: ", ";
  color: inherit;
  padding-right: 0.2em;
}

.outline {
  position: relative;
}
.outline::before {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--border);
  z-index: 1;
  pointer-events: none;
}
.outline.is-rounded {
  border-radius: 2rem;
}
.outline.is-rounded::before, .outline.is-rounded::after {
  border-radius: 2rem;
}

.bt {
  position: relative;
}
.bt::before {
  content: "";
  position: absolute;
  height: var(--border-width);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 0.5;
}

.bb {
  position: relative;
}
.bb::after {
  content: "";
  position: absolute;
  height: var(--border-width);
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 0.5;
}

.hide-sb {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-s::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

ul.list-with-comma li {
  display: flex;
}
ul.list-with-comma li:not(:last-child):after {
  content: ", ";
  color: inherit;
  padding-right: 0.2em;
}

@keyframes wave {
  from {
    flex: 2 0 1rem !important;
  }
  to {
    flex: 2 0 10rem !important;
  }
}
.gradient {
  background: rgb(235, 234, 229);
  background: linear-gradient(90deg, rgb(235, 234, 229) 100% rgba(235, 234, 229, 0) 0%);
}

.spacer-gradient {
  height: var(--logo-height);
  background: rgb(235, 234, 229);
  background: linear-gradient(180deg, rgba(235, 234, 229, 0) 0%, rgb(235, 234, 229) 100%);
}

body {
  color: black;
  font-family: var(--font-primary);
  font-size: var(--text-md);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

@media all and (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}
@media all and (min-width: 1920px) {
  html {
    font-size: 1vw;
  }
}
em,
.italic {
  font-style: unset;
  font-family: var(--font-primary-i);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.headline {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Links */
a,
a[aria-current=page] {
  text-decoration: none;
}
a.is-active,
a[aria-current=page].is-active {
  color: var(--color-blue);
}

/* Text elements */
p,
.text p {
  margin-bottom: 1em;
}
p:last-child,
.text p:last-child {
  margin-bottom: 0;
}
p:empty,
.text p:empty {
  display: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-xl .text {
  line-height: 1.1;
}

.text h2,
.text h3 {
  margin-bottom: 1em;
}
.text p {
  margin-bottom: 1em;
  line-height: 1.2;
}
@media all and (min-width: var(--screen-md)) {
  .text p {
    line-height: 1.12;
  }
}

.tabnum {
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
}

.strong,
strong {
  font-weight: bold;
}

button {
  background: transparent;
}

input {
  padding: 0.5em 0;
  background-color: transparent;
  border-bottom: 1px solid;
}
input::-moz-placeholder {
  color: white;
  text-transform: capitalize;
}
input::placeholder {
  color: white;
  text-transform: capitalize;
}

input[type=submit] {
  background-color: white;
  color: black;
  width: 100%;
  padding: 0.5em;
}

hr {
  background-color: var(--color-primary);
  border: 0;
  height: 1px;
  margin: 1.1em calc(var(--space-sm) * -1);
}

pre {
  background: #cfcfcf;
  line-height: 1.5;
  margin-bottom: 1.5em;
  overflow: auto;
  padding: 0.75em 1.5em;
}

abbr,
acronym,
dfn {
  border-bottom: var(--border);
  cursor: help;
}

address {
  display: block;
  font-style: initial;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: text-top;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

.page-content .header {
  margin-bottom: var(--space-md);
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

main {
  min-height: var(--app-height, 100vh);
  position: relative;
}

.h-app {
  height: var(--app-height);
}

.sm-only {
  display: none;
}

@media all and (max-width: 1080px) {
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
header {
  position: sticky;
  top: 0;
}
.page-home .module-text p {
  margin-bottom: 0;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.page-home .module-text p:nth-child(2) {
  padding-left: 4em;
}

.landing {
  height: 100vh;
  padding: 52px 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landing .message {
  margin-bottom: 3.4375rem;
  letter-spacing: 0.1em;
}
.landing .social {
  padding-top: 1.7rem;
}
.landing .social .title {
  font-style: italic;
}
.landing .social li:not(:last-child) {
  padding-right: 2.625rem;
}
@media all and (max-width: 1080px) {
  .landing {
    padding: 25px;
  }
  .landing .social {
    padding-top: 0;
  }
  .landing .social li {
    padding-top: 1rem;
  }
}
